name: Publish Python package to PyPI

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  id-token: write   # REQUIRED for PyPI Trusted Publisher (OIDC)

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: mofuk

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install build dependencies
        run: pip install build

      - name: Build distribution
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
